* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f9f9f9;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
dialog {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 16px 12px rgba(0,0,0,0.2);
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
dialog>p{
  font-size: 20px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}      

/* Hero Section */
.hero {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
}

.hero-content button {
  background-color: #50b6ff;
  border: none;
  padding: 0.75rem 1.5rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* About Section */
.about, .projects, .contact {
  padding: 3rem 2rem;
  text-align: center;
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem 0;
}

.project-card {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card img {
  height: 300px;
  border-radius: 20px;
}

/* Contact */
.contact form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.contact input, .contact textarea {
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  background-color: #50b6ff;
  padding: 0.75rem;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: .2rem;
  padding-left: 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container div {
  width: 25%;
  margin: 0.2rem 0;
}

.footer-container h4 {
  font-size: 20px;
}

.footer-container ul {
  list-style: none;
  padding: 0;
}

.footer-container a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.2rem 0;
}

